In [113]:
import pandas as pd

In [114]:
code_to_state = {'01': 'Alabama',
 '02': 'Alaska',
 '04': 'Arizona',
 '05': 'Arkansas',
 '06': 'California',
 '08': 'Colorado',
 '09': 'Connecticut',
 '10': 'Delaware',
 '11': 'District of Columbia',
 '12': 'Florida',
 '13': 'Georgia',
 '15': 'Hawaii',
 '16': 'Idaho',
 '17': 'Illinois',
 '18': 'Indiana',
 '19': 'Iowa',
 '20': 'Kansas',
 '21': 'Kentucky',
 '22': 'Louisiana',
 '23': 'Maine',
 '24': 'Maryland',
 '25': 'Massachusetts',
 '26': 'Michigan',
 '27': 'Minnesota',
 '28': 'Mississippi',
 '29': 'Missouri',
 '30': 'Montana',
 '31': 'Nebraska',
 '32': 'Nevada',
 '33': 'New Hampshire',
 '34': 'New Jersey',
 '35': 'New Mexico',
 '36': 'New York',
 '37': 'North Carolina',
 '38': 'North Dakota',
 '39': 'Ohio',
 '40': 'Oklahoma',
 '41': 'Oregon',
 '42': 'Pennsylvania',
 '44': 'Rhode Island',
 '45': 'South Carolina',
 '46': 'South Dakota',
 '47': 'Tennessee',
 '48': 'Texas',
 '49': 'Utah',
 '50': 'Vermont',
 '51': 'Virginia',
 '53': 'Washington',
 '54': 'West Virginia',
 '55': 'Wisconsin',
 '56': 'Wyoming',
 '72': 'Puerto Rico'}

In [115]:
state_to_code = {v:k for k,v in code_to_state.items()}

In [116]:
state_to_code

{'Alabama': '01',
 'Alaska': '02',
 'Arizona': '04',
 'Arkansas': '05',
 'California': '06',
 'Colorado': '08',
 'Connecticut': '09',
 'Delaware': '10',
 'District of Columbia': '11',
 'Florida': '12',
 'Georgia': '13',
 'Hawaii': '15',
 'Idaho': '16',
 'Illinois': '17',
 'Indiana': '18',
 'Iowa': '19',
 'Kansas': '20',
 'Kentucky': '21',
 'Louisiana': '22',
 'Maine': '23',
 'Maryland': '24',
 'Massachusetts': '25',
 'Michigan': '26',
 'Minnesota': '27',
 'Mississippi': '28',
 'Missouri': '29',
 'Montana': '30',
 'Nebraska': '31',
 'Nevada': '32',
 'New Hampshire': '33',
 'New Jersey': '34',
 'New Mexico': '35',
 'New York': '36',
 'North Carolina': '37',
 'North Dakota': '38',
 'Ohio': '39',
 'Oklahoma': '40',
 'Oregon': '41',
 'Pennsylvania': '42',
 'Rhode Island': '44',
 'South Carolina': '45',
 'South Dakota': '46',
 'Tennessee': '47',
 'Texas': '48',
 'Utah': '49',
 'Vermont': '50',
 'Virginia': '51',
 'Washington': '53',
 'West Virginia': '54',
 'Wisconsin': '55',
 'Wyoming': '56',
 'Puerto Rico': '72'}

In [117]:
df = pd.read_csv("dataCovidState.csv")

In [118]:
df["STATENO"] = None

In [119]:
for state in df["STATE"]:
    df.loc[df["STATE"]==state, "STATENO"] = state_to_code[state]

In [120]:
df.set_index("STATENO")

                        STATE  CASES  DEATHS ABBR        LAT        LONG
STATENO
01                    Alabama      5       0   AL  32.318231  -86.902298
02                     Alaska      1       0   AK  63.588753 -154.493062
04                    Arizona      9       0   AZ  34.048928 -111.093731
05                   Arkansas      9       0   AR  35.201050  -91.831833
06                 California    314       4   CA  36.778261 -119.417932
08                   Colorado     77       1   CO  39.550051 -105.782067
09                Connecticut     12       0   CT  41.603221  -73.087749
10                   Delaware      4       0   DE  38.910832  -75.527670
11       District of Columbia     10       0   DC  38.905985  -77.033418
12                    Florida     71       3   FL  27.664827  -81.515754
13                    Georgia     42       1   GA  32.157435  -82.907123
15                     Hawaii      2       0   HI  19.898682 -155.665857
16                      Idaho      1       0   ID  44.068202 -114.742041
17                   Illinois     46       0   IL  40.633125  -89.398528
18                    Indiana     12       0   IN  40.551217  -85.602364
19                       Iowa     17       0   IA  41.878003  -93.097702
20                     Kansas      6       1   KS  39.011902  -98.484246
21                   Kentucky     11       0   KY  37.839333  -84.270018
22                  Louisiana     36       0   LA  31.244823  -92.145024
23                      Maine      3       0   ME  45.253783  -69.445469
24                   Maryland     18       0   MD  39.045755  -76.641271
25              Massachusetts    123       0   MA  42.407211  -71.382437
26                   Michigan     25       0   MI  44.314844  -85.602364
27                  Minnesota     14       0   MN  46.729553  -94.685900
28                Mississippi      4       0   MS  32.354668  -89.398528
29                   Missouri      5       0   MO  37.964253  -91.831833
30                    Montana      4       0   MT  46.879682 -110.362566
31                   Nebraska     28       0   NE  41.492537  -99.901813
32                     Nevada     19       0   NV  38.802610 -116.419389
33              New Hampshire      7       0   NH  43.193852  -71.572395
34                 New Jersey     51       1   NJ  40.058324  -74.405661
35                 New Mexico     10       0   NM  34.972730 -105.032363
36                   New York    421       0   NY  43.299428  -74.217933
37             North Carolina     17       0   NC  35.759573  -79.019300
38               North Dakota      1       0   ND  47.551493 -101.002012
39                       Ohio     13       0   OH  40.417287  -82.907123
40                   Oklahoma      3       0   OK  35.007752  -97.092877
41                     Oregon     29       0   OR  43.804133 -120.554201
42               Pennsylvania     42       0   PA  41.203322  -77.194525
72                Puerto Rico      3       0   PR  18.220833  -66.590149
44               Rhode Island     14       0   RI  41.580095  -71.477429
45             South Carolina     13       0   SC  33.836081  -81.163725
46               South Dakota      9       1   SD  43.969515  -99.901813
47                  Tennessee     26       0   TN  35.517491  -86.580447
48                      Texas     51       0   TX  31.968599  -99.901813
49                       Utah      5       0   UT  39.320980 -111.093731
50                    Vermont      2       0   VT  44.558803  -72.577841
51                   Virginia     30       0   VA  37.431573  -78.656894
53                 Washington    510      37   WA  47.751074 -120.740139
54              West Virginia      0       0   WV  38.597626  -80.454903
55                  Wisconsin      8       0   WI  43.784440  -88.787868
56                    Wyoming      2       0   WY  43.075968 -107.290284

In [121]:
df = df.set_index("STATENO")

In [122]:
df.to_json("dataCovidState.json", orient="index")